<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="server=.\sql2014;database=xbkvss;trusted_connection=true"/>
  </connectionStrings>
  <appSettings>
    <add key="pdfPath" value="d:/Visual Studio Projects/MPSS.Services.Forms/MPSS.Services.Forms/pdf/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="MPSS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5985688402141576" />-->
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpsGetEnabled="true" httpGetUrl="mex"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="MPSS.Services.Forms.Printer">
        <endpoint address="https://localhost:54029/Printer.svc" binding="basicHttpsBinding" bindingNamespace="MPSS.Services.Forms.v1" contract="MPSS.Services.Forms.IPrinter"/>
        <endpoint address="https://localhost:54029/Printer.svc/ws" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" bindingNamespace="MPSS.Services.Forms.v1" contract="MPSS.Services.Forms.IPrinter"/>
      </service>
    </services>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="Printer.svc" service="MPSS.Services.Forms.Printer"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>